/**************************************
 		start Landing style
************************************/
.landingLogo {
  height: 15rem;
}
.landingLogo img {
  width: 100%;
}
.landingLogo h2 {
  color: #73dd81;
}
.landingHeader {
  height: 60rem;
  background: url('../img/landingHeader.jpg');
  background-size: cover;
  background-position: center left;
  border-bottm: solid 0.4rem #73dd81;
  position: relative;
}
.landingHeader:after {
  position: absolute;
  top: 0;
  left: 0;
  height: 60rem;
  width: 100%;
  background: rgba(255, 255, 255, 0.5);
}
.landingHeader p {
  margin-top: 2rem;
}
.landingHeader form {
  margin-top: 5rem;
  background: #ffffff;
  height: 40rem;
  border: solid 0.4rem #73dd81;
  z-index: 10;
}
.landingHeader form label {
  text-transform: uppercase;
  color: #73dd81;
}
.landingHeader form button {
  text-transform: uppercase;
  background: #73dd81;
  display: block;
  width: 40%;
  margin: 0 auto;
}
.landingSection img {
  width: 100%;
  border-radius: 50%;
  border: solid 0.4rem #73dd81;
}
.landingKnowUs {
  background: #73dd81;
}
.videoWrapper {
  position: relative;
  padding-bottom: 56.25%;
  /* 16:9 */
  padding-top: 25px;
  height: 0;
}
.videoWrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
