// Color green 
@colorGreen: #73dd81;
@colorText: #2f343a;

// General rules
html {
	font-size: 62.5%;
}

body {
  background-color: #fff;
}


h1, h2, h3, h4, h5, h6 {
  font-family: 'Lato', sans-serif;

  a {
    color: @colorText;
    &:hover {
      text-decoration: none;
      color: @link-color;
    }
  }
}

p {
  color: @colorText;
  font-family: 'sertigregular';
  font-size: 1.6rem;
} 

// Margin class
.margin-bottom {
	margin-bottom: 10px;
}

.margin-bottom-min {
	margin-bottom: 20px;
}

.margin-bottom-big {
	margin-bottom: 40px;
}

.margin-top {
	margin-top: 10px;
}

.margin-top-min {
	margin-top: 20px;
} 

.margin-top-big {
	margin-top: 40px;
}

// General rules end

// Navbar - menu

.nav {
  font-family: 'Lato', sans-serif;
  font-size: 1.9rem;
}


.navbar-header{
    min-height: 18rem;
}

.navbar-inner{
  position: absolute;
  top: 0;
  left: 0;
  text-align:center;
  width: 100%;
}

.nav-center {
    img{
      height: 15rem;
      margin-top: 1.5rem;
    }
}

nav .collapse{
  padding-top: 8rem;
  min-height: 18rem;
}

@media all and (max-width:  768px) {
  nav .collapse{
    padding-top: 0;
  }
}
// Navbar - menu end

// Sales

.sales
  {
    a{
      text-decoration: none;
    }

  .salesContent {
    a {
      text-decoration: none;
      color: @colorText;
    }
  }

  .salesLabel {
    background-color: #F0B300;
    color: #333333;
    .transition(.4s);

  &:hover {
    color: lighten(@link-color, 15%);
    .transition(.4s);

    }//&:hover

  }//label

}

// Sales end

// Contact

.contactH2 {
	h2 {
		position: relative;
		:after	{
			content: "";
  			display: block;
		    width: 10%;
		    height: 2px;
		    position: absolute;
		    bottom: -50px;
		    left: 0;
		    background-color: @colorGreen;
		    margin-right: 45%;
		    margin-left: 45%;
		}
	}


	p {
		text-align: center;
		font-family: 'sertigregular';
		padding-top: 80px;
	}
}


.contactText {
	.contactCircle {
		margin-top: 80px;
		height: 150px;
		width: 150px;
		-webkit-border-radius: 150px 150px 150px 150px;
		border-radius: 150px 150px 150px 150px;
		display: inline-block;
		border: 2px solid @colorGreen;
		img{
			margin-top: 35px;
			max-height: 50%;
			max-width: 50%;
		}
	}
}

// Contact end

// Footer
.formularz label {
  display: block;
  /* ustawiamy by label rozpoczynał się od nowej linii*/
  margin-bottom: 0px;
  /* dodajemy margines dolny */
  font-weight: bold;
  /* pogrubiamy czcionkę */

  /* zamieniamy wszystkie litery na duże */
  font-size: 1.5rem;
  /* ustawiamy wielkość czcionki */
  color: black;
  /* ustawiamy kolor czcionki */
  font-family: 'Dosis', sans-serif;
}
.formularz textarea {
  height: 50px;
  width: 100%;
  border: 2px solid @colorGreen;
  /* padding-bottom: 15px; */
}
.formularz input {
  padding: 5px;
  /* dodajemy margines wewnątrz naszego pola */
  border-radius: 3px;
  /* dodajemy zaokraglone rogi */
  border: 2px solid #73dd81;
  /* dodajemy obramowanie */
  margin-bottom: 15px;
  /* dodajemy margines dolny */
  width: 100%;
  /* ustalamy szerokość */
}
.formularz input#submit {
  width: 100%;
  /* ustalamy szerokość */
  cursor: pointer;
  /* zmieniamy kursor */
  margin-bottom: 40px;
  /* resetujemy margines dolny */
  margin-top: 15px;
  font-size: 1.3rem;
  font-family: 'Dosis', sans-serif;
}
.formularz p.copy {
  color: #555555;
  /* ustawiamy kolor czcionki */
  margin-bottom: 0px;
  /* resetujemy margines dolny */
  font-size: 12px;
  /* ustawiamy rozmiar czcionki */
  text-align: center;
  /* wyśrodkowywujemy tekst */
}

.formularz p.copy a {
  color: #555555;
  /* ustawiamy kolor czcionki */
  text-decoration: none;
  /* usuwamy podkreślenie linku */
  font-weight: bold;
  /* pogrubiamy czcionkę */
}

// Footer end

