/**************************************
 		start Landing style
************************************/
@backgroundColor: #fff;
@secondColor: #73dd81;

.landingLogo{
	height: 15rem;
	
	img{
		width: 100%;
	}

	h2{
		color: @secondColor;
	}
}

.landingHeader{
	height: 60rem;
	background: url('../img/landingHeader.jpg');
	background-size: cover;
	background-position: center left;
	border-bottm: solid 0.4rem @secondColor;
	position: relative;

	&:after{
		position: absolute;
		top: 0;
		left: 0;
		height: 60rem;
		width: 100%;
		background: rgba(255, 255, 255, 0.5);
	}

	p{
		margin-top: 2rem;
	}

	form{
		margin-top: 5rem;
		background: @backgroundColor;
		height: 40rem;
		border: solid 0.4rem @secondColor;
		z-index: 10;

		label{
			text-transform: uppercase;
			color: @secondColor;
			}
		
		button{
			text-transform: uppercase;
			background: @secondColor;
			display: block;
			width: 40%;
			margin: 0 auto;
		}
	}
}

.landingSection{

	img{
		width: 100%;
		border-radius: 50%;
    	border: solid 0.4rem @secondColor;
	}
}

.landingKnowUs{
	background: @secondColor;
}

/**************************************
 		end Landing style
************************************/

html {
	font-size: 62.5%;
}


p {
	font-size: 1.6rem;
}

.margin-bottom {
	margin-bottom: 10px;
}

.margin-bottom-min {
	margin-bottom: 20px;
}

.margin-bottom-big {
	margin-bottom: 40px;
}

.margin-top {
	margin-top: 10px;
}

.margin-top-min {
	margin-top: 20px;
} 

.margin-top-big {
	margin-top: 40px;
}


// Contact

.contactH2 {
	color: #006967;
	h2 {
		position: relative;
		:after	{
			content: "";
  			display: block;
		    width: 10%;
		    height: 2px;
		    position: absolute;
		    bottom: -50px;
		    left: 0;
		    background-color: white;
		    margin-right: 45%;
		    margin-left: 45%;
		}
	}


	p {
		text-align: center;
		font-family: 'sertigregular';
		padding-top: 80px;
	}
}


.contactText {
	.contactCircle {
		margin-top: 80px;
		height: 150px;
		width: 150px;
		-webkit-border-radius: 150px 150px 150px 150px;
		border-radius: 150px 150px 150px 150px;
		display: inline-block;
		border: 2px solid #FDFDFD;
		img{
			margin-top: 35px;
			max-height: 50%;
			max-width: 50%;
		}
	}
}