<<<<<<< HEAD

html {
	font-size: 62.5%;
=======
/**************************************
 		start Landing style
************************************/
@backgroundColor: #fff;
@secondColor: #73dd81;

.landingLogo{
	height: 15rem;
	
	img{
		width: 100%;
	}

	h2{
		color: @secondColor;
	}
>>>>>>> 00d83dee79588550d04ffed23a449d1f8441e991
}

.landingHeader{
	height: 60rem;
	background: url('../img/landingHeader.jpg');
	background-size: cover;
	background-position: center left;
	border-bottm: solid 0.4rem @secondColor;
	position: relative;

<<<<<<< HEAD
.landingLogo {
	height: 10em;
=======
	&:after{
		position: absolute;
		top: 0;
		left: 0;
		height: 60rem;
		width: 100%;
		background: rgba(255, 255, 255, 0.5);
	}

	p{
		margin-top: 2rem;
	}

	form{
		margin-top: 5rem;
		background: @backgroundColor;
		height: 40rem;
		border: solid 0.4rem @secondColor;
		z-index: 10;

		label{
			text-transform: uppercase;
			color: @secondColor;
			}
		
		button{
			text-transform: uppercase;
			background: @secondColor;
			display: block;
			width: 40%;
			margin: 0 auto;
		}
	}
}

.landingSection{
>>>>>>> 00d83dee79588550d04ffed23a449d1f8441e991

	img {
		width: 100%;
		border-radius: 50%;
    	border: solid 0.4rem @secondColor;
	}
}

<<<<<<< HEAD
.landing{
	height: 20em;
	background: red;
}

p {
	font-size: 1.6rem;
=======
.landingKnowUs{
	background: @secondColor;
}

/**************************************
 		end Landing style
************************************/

html {
	font-size: 62.5%;
>>>>>>> 00d83dee79588550d04ffed23a449d1f8441e991
}



// Margin class
.margin-bottom {
	margin-bottom: 10px;
}

.margin-bottom-min {
	margin-bottom: 20px;
}

.margin-bottom-big {
	margin-bottom: 40px;
}

.margin-top {
	margin-top: 10px;
}

.margin-top-min {
	margin-top: 20px;
} 

.margin-top-big {
	margin-top: 40px;
}


// Contact

.contactH2 {
	color: #006967;
	h2 {
		position: relative;
		:after	{
			content: "";
  			display: block;
		    width: 10%;
		    height: 2px;
		    position: absolute;
		    bottom: -50px;
		    left: 0;
		    background-color: white;
		    margin-right: 45%;
		    margin-left: 45%;
		}
	}


	p {
		text-align: center;
		font-family: 'sertigregular';
		padding-top: 80px;
	}
}


.contactText {
	.contactCircle {
		margin-top: 80px;
		height: 150px;
		width: 150px;
		-webkit-border-radius: 150px 150px 150px 150px;
		border-radius: 150px 150px 150px 150px;
		display: inline-block;
		border: 2px solid #FDFDFD;
		img{
			margin-top: 35px;
			max-height: 50%;
			max-width: 50%;
		}
	}
}

// Footer
.formularz label {
  display: block;
  /* ustawiamy by label rozpoczynał się od nowej linii*/
  margin-bottom: 0px;
  /* dodajemy margines dolny */
  font-weight: bold;
  /* pogrubiamy czcionkę */

  /* zamieniamy wszystkie litery na duże */
  font-size: 1.5rem;
  /* ustawiamy wielkość czcionki */
  color: black;
  /* ustawiamy kolor czcionki */
  font-family: 'Dosis', sans-serif;
}
.formularz textarea {
  height: 50px;
  width: 100%;
  /* padding-bottom: 15px; */
}
.formularz input {
  padding: 5px;
  /* dodajemy margines wewnątrz naszego pola */
  border-radius: 3px;
  /* dodajemy zaokraglone rogi */
  border: 2px solid #ccc;
  /* dodajemy obramowanie */
  margin-bottom: 15px;
  /* dodajemy margines dolny */
  width: 100%;
  /* ustalamy szerokość */
}
.formularz input#submit {
  width: 100%;
  /* ustalamy szerokość */
  cursor: pointer;
  /* zmieniamy kursor */
  margin-bottom: 40px;
  /* resetujemy margines dolny */
  margin-top: 15px;
  font-size: 1.3rem;
  font-family: 'Dosis', sans-serif;
}
.formularz p.copy {
  color: #555555;
  /* ustawiamy kolor czcionki */
  margin-bottom: 0px;
  /* resetujemy margines dolny */
  font-size: 12px;
  /* ustawiamy rozmiar czcionki */
  text-align: center;
  /* wyśrodkowywujemy tekst */
}

.formularz p.copy a {
  color: #555555;
  /* ustawiamy kolor czcionki */
  text-decoration: none;
  /* usuwamy podkreślenie linku */
  font-weight: bold;
  /* pogrubiamy czcionkę */
<<<<<<< HEAD
}
=======
}
>>>>>>> 00d83dee79588550d04ffed23a449d1f8441e991
