
/**************************************
 		start Landing style
************************************/
@backgroundColor: #fff;
@secondColor: #73dd81;

.landingLogo{
	height: 15rem;
	
	img{
		width: 100%;
	}

	h2{
		color: @secondColor;
	}
}

.landingHeader{
	height: 60rem;
	background: url('../img/landingHeader.jpg');
	background-size: cover;
	background-position: center left;
	border-bottm: solid 0.4rem @secondColor;
	position: relative;

	&:after{
		position: absolute;
		top: 0;
		left: 0;
		height: 60rem;
		width: 100%;
		background: rgba(255, 255, 255, 0.5);
	}

	p{
		margin-top: 2rem;
	}

	form{
		margin-top: 5rem;
		background: @backgroundColor;
		height: 40rem;
		border: solid 0.4rem @secondColor;
		z-index: 10;

		label{
			text-transform: uppercase;
			color: @secondColor;
			}
		
		button{
			text-transform: uppercase;
			background: @secondColor;
			display: block;
			width: 40%;
			margin: 0 auto;
		}
	}
}

.landingSection{

	img {
		width: 100%;
		border-radius: 50%;
    	border: solid 0.4rem @secondColor;
	}
}

.landingKnowUs{
	background: @secondColor;
}

.videoWrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}
.videoWrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
/**************************************
 		end Landing style
************************************/